body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/premium-photo/world-diabetes-day-awareness-concept-stethoscope-with-blue-ribbon-sugar-test-set_53476-6129.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 27%;
}



.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.company-info h1 {
    margin: 0;
    font-size: 30px;
    color: darkblue;
}

.company-info h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.login-card {
    padding: 20px;
}

.login-card h3 {
    margin-bottom: 20px;
    color: #1976d2;
    font-size: 30px;
    text-transform: none;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 12px;
}

.actions {
    text-align: left;
}

.actions button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #1976d2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.actions button[type="button"] {
    background-color: transparent;
    color: #1976d2;
    text-align: left;
    padding: 0;
    margin-top: 0;
}

.actions button[type="button"]:hover {
    text-decoration: underline;
}

.actions button[type="submit"] {
    background-color: #1976d2;
    color: white;
}

.actions button[type="submit"]:hover {
    background-color: #1565c0;
}
